{% extends 'base.html' %}

{% block content %}
{% include 'header.html' %}

<div class="container my-5">
    <form method="POST" class="mb-3" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">START</button>
    </form>
    <hr>
    <div class="mb-3">
        <label for="Textarea" class="form-label">Speech-to-Textの結果：</label>
        <textarea class="form-control" id="Textarea" rows="8">{{ transcribe_result }}</textarea>
    </div>
</div>
    
{% endblock content %}