<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'translation:save_transcription' %}">Home</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ user }}さん</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'users:mypage' user.pk %}">マイページ</a></li>
                        <li><a class="dropdown-item" href="{% url 'users:logout' %}">ログアウト</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>